################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*.user
bin/
obj/
packages/
/.vs/AllProjects/v15/Server/sqlite3/db.lock
/.vs/AllProjects/v15/Server/sqlite3/storage.ide
/.vs/AllProjects/v15/Server/sqlite3/storage.ide-shm
/.vs/AllProjects/v15/Server/sqlite3/storage.ide-wal
