<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <add name="AC_DBEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=LOCALHOST\SQLEXPRESS;Initial Catalog=AC_DB;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
  </startup>
  <appSettings>
    <!-- AcServer/proxy listening port like defined in UDP_PLUGIN_LOCAL_PORT. Uncomment to override it (Proxy/Relay), otherwise it will be read from the config -->
    <!--<add key="ac_server_port" value="11000"/>-->

    <!--<add key="ac_server_host" value="127.0.0.1"/>-->

    <!-- Plugin listening port towards acServer/proxy like defined in UDP_PLUGIN_ADDRESS=12000 (without 127.0.0.1, port number only) -->
    <!-- Uncomment to override it (Proxy/Relay), otherwise it will be read from the config -->
    <!--<add key="plugin_port" value="12000"/>-->

    <!--<add key="max_clients" value="24"/>-->
    <!--<add key="admin_password" value=""/>-->

    <add key="load_server_cfg" value="1"/>
    <!-- 0=off, 1=on, if on the above settings are overwritten with the values from the server cfg -->

    <add key="ac_server_directory" value="D:\Games\Steam\SteamApps\common\assettocorsa\server\"/>
    <add key="ac_server_executable" value="acServer.exe"/>
    <add key="ac_cfg_directory" value="cfg"/>
    <add key="ac_presets_directory" value="presets"/>

    <!-- log_to_console, overwrite_log_file and start_new_log_on_new_session are not combinable -->
    <add key="log_to_console" value="1"/>
    <add key="overwrite_log_file" value="0"/>
    <add key="start_new_log_on_new_session" value="0"/>

    <add key="interactive_console" value="0"/>  <!-- interactive console might be causing issues on some systems. -->

    <add key="log_server_requests" value="0"/>

    <!--<add key="internal_plugins" value="OtherPluginNamespace.OtherPluginType, OtherPluginDLL"/>-->
    <!--<add key="external_plugins" value="OtherPlugin, 11001, 127.0.0.1:12001"/>-->

    <!--<add key="additional_exes" value="C:\somefolder\some.exe"/>-->

    <add key="presets_cycle" value=";"/>
    <add key="broadcast_incidents" value="0"/>
    <add key="broadcast_results" value="10"/>
    <add key="broadcast_fastest_lap" value="1"/>
    <add key="kick_before_change" value="0"/>
    <add key="create_server_window" value="0"/>    <!-- if AC_TrackCycle crashes because the acServer.exe process can not be killed on track change then set this to 1 -->
    <add key="realtime_update_interval" value="1000"/>
    <add key="welcome_message" value="Welcome $DriverName$ to $ServerName$!|Please drive respectfully!"/>
    <add key="session_report_handlers" value="AC_SessionReportPlugin.JsonReportWriter, AC_SessionReportPlugin; acPlugins4net.helpers.XmlSessionReportWriter, acPlugins4net"/>
  </appSettings>
</configuration>
